<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StickyNote</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>Servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajaxexample</display-name>
    <servlet-name>Ajaxexample</servlet-name>
    <servlet-class>Servlet.Ajaxexample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajaxexample</servlet-name>
    <url-pattern>/Ajaxexample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StickyNoteDao</display-name>
    <servlet-name>StickyNoteDao</servlet-name>
    <servlet-class>Dao.StickyNoteDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StickyNoteDao</servlet-name>
    <url-pattern>/StickyNoteDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>Servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>Servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>RegisterServlert</display-name>
    <servlet-name>RegisterServlert</servlet-name>
    <servlet-class>Servlet.RegisterServlert</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>ResgiterServlet</display-name>
    <servlet-name>ResgiterServlet</servlet-name>
    <servlet-class>Servlet.ResgiterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlert</servlet-name>
    <url-pattern>
  	/RegisterServlert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>
  	/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResgiterServlet</servlet-name>
    <url-pattern>
  	/ResgiterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>
  	/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>
  	/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUrl</display-name>
    <servlet-name>GetUrl</servlet-name>
    <servlet-class>Servlet.GetUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUrl</servlet-name>
    <url-pattern>/GetUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchUrl</display-name>
    <servlet-name>FetchUrl</servlet-name>
    <servlet-class>Servlet.FetchUrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CRUD</display-name>
  	<servlet-name>CRUD</servlet-name>
  	<servlet-class>CRUD.CRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchUrl</servlet-name>
    <url-pattern>/FetchUrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CRUD</servlet-name>
  	<url-pattern>
  	/CRUD</url-pattern>
  </servlet-mapping>
</web-app>